<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <br><br>
    <div id="section-title">
        <h2></h2>
    </div>
    <div id="text" style="display:block;min-height: 200px;overflow:auto;opacity:1; width:65%;"></div>
    <div id="plot"></div>
</body>


<script>
    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function () {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    var stages = [];

    //usage:
    readTextFile("/json/linreg.json", function (text) {
        stages = JSON.parse(text);
    });

    function makePlot(data, traces) {
        var prev_x = curr_x;
        var prev_y = curr_y;

        curr_x = data.x;
        curr_y = data.y;
        fadeInAndOut(data);
        // if there's no data yet, don't show the plot!
        if (curr_x.length == 0 || curr_y.length == 0) {
            document.getElementById('plot').style = 'visibility:hidden;'
        } else {
            document.getElementById('plot').style = ''
        }
        var create = (prev_x.length == 0);

        var layout = {
            xaxis: {
                autorange: false,
                showgrid: false,
                range:[Math.min(curr_x) - 1, Math.max(curr_x) + 1]
            },
            yaxis: {
                autorange: false,
                showgrid: false,
                range:[Math.min(curr_y) - 1, Math.max(curr_y) + 1]
            },
            margin: {
                t: 20, //top margin
                l: 20, //left margin
                r: 20, //right margin
                b: 20 //bottom margin
            },
            paper_bgcolor:'rgba(0,0,0,0)',
            plot_bgcolor:'rgba(0,0,0,0)'
        }
        
        if (create) {
            Plotly.react(document.getElementById('plot'), data, layout);
        } else {
            console.log('animating the plot?')
            Plotly.animate('plot', {data:data, traces:[0], layout:layout},
            {
                transition: {
                    duration: 500,
                    easing: 'cubic-in-out'
                },
                frame: {
                    duration: 500
                }
            });
        }
    }

    function fadeInAndOut(data) {
        // fade out existing title and text
        $("#section-title").delay(500).animate({"opacity": "0"}, 100);
        $("#text").delay(500).animate({"opacity": "0"}, 100);
        setTimeout(() => {
            document.getElementById('section-title').style = "opacity:0;";
            document.getElementById('text').style['opacity'] = 0;
            document.getElementById('section-title').innerHTML = "<h2>" + data.title + "</h2>";
            document.getElementById('text').innerHTML = data.text.join('<br><br>');
            $("#section-title").delay(500).animate({"opacity": "1"}, 700);
            $("#text").delay(500).animate({"opacity": "1"}, 700);
        }, 650);
    }

    function update(stage) {
        var data = stages[stage];

        var trace = {
            x: data.x,
            y: data.y,
            mode: 'markers',
            type: 'scatter',
            name: "Sample Data",
            marker: {
                color: lightBlue,
                size: 12
            }
        };

        makePlot(data, [trace]);
    }


</script>