<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tutorial.css" />
</head>

<style>
    
</style>

<script src="/js/tutorial.js" defer></script>

<body>
    <div id="stage">0</div>
    <div id="path" style="display: none;">{{ .Get "path" }}</div>

    <div id="stage-buttons-div">
        <div class="column" id="stage-button">
            <input id="backbtn" type="button" value="BACK">
        </div>
        <div class="column" id="stage-button" style=>
            <input id="nextbtn" type="button" value="NEXT">
        </div>
    </div>

    <div id="content">
        <div class="row">
            <div class="column" id="d1"></div>
            <div class="column" id="d2"></div>
        </div>
        
        <div id="d3"></div>
    </div>
</body>